// src/styles/components/_menu-custom.scss
@use "@styles/utils/functions" as *;

.menu-custom {
   // Бургер
   &__burger {
      display: none;
      position: relative;
      // display: flex;
      flex-direction: column;
      gap: 4px;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 1001;

      span {
         display: block;
         width: 24px;
         height: 2px;
         background: currentColor;
         transition:
            transform 0.3s,
            opacity 0.3s;
      }

      // Анімація бургера → хрестик
      &[aria-expanded="true"] {
         span:nth-child(1) {
            transform: translateY(6px) rotate(45deg);
         }
         span:nth-child(2) {
            opacity: 0;
         }
         span:nth-child(3) {
            transform: translateY(-6px) rotate(-45deg);
         }
      }
   }
}

// стилізація меню

.menu__test {
   // background-color: antiquewhite;
   // position: fixed;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   // transform: translateX(-100%);
   z-index: 0;
   // padding: toRem(40);
   transition: transform 0.4s;
}
.menu__list {
   display: flex;
   gap: toRem(20);
}
.menu-open .menu__test {
   transform: translateX(0%);
}
.dropdawn__item {
   display: grid;
   grid-template-rows: 0fr;
   transition: grid 0.4s;
}
.dropdawn__inner {
   overflow: hidden;
}
.dropdawn__item[data-menu-open="true"] {
   grid-template-rows: 1fr;
}
