@use "@styles/utils" as *;

.header {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: var(--z-modal, 400);

   & .logo {
      position: relative;
      z-index: var(--z-sticky, 200);
      @include fluid-space(width, 124, 214);
   }

   // .header__container
   &__container {
      max-width: toRem(1230);
      margin: 0 auto;
      padding: 0 toRem(15);
      height: toRem(64);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(24);
   }

   // .header__column-right
   &__column-right {
      display: flex;
      align-items: center;
      gap: toRem(16);
   }

   &__btn {
      transition:
         background-color var(--transition-base),
         color var(--transition-base),
         border-color var(--transition-base);
      @include respond-to("md") {
         display: none !important;
      }
   }
}

.menu-open .header__btn {
   background-color: var(--color-white);
   color: var(--color-black);
   border-color: var(--color-white);
   position: relative;
   z-index: 101;
}
