@use "@styles/utils" as *;

.bio-hero {
   position: relative;

   // .bio-hero__container

   &__container {
      position: relative;
      z-index: 3;
      display: flex;
      flex-wrap: wrap;

      gap: toRem(20) toRem(12);
   }

   // .bio-hero__column-left

   &__column-left {
      display: flex;
      overflow: hidden;
      flex-shrink: 0;
      @include fluid-space(flex-basis, 300, 420);
      @include respond-from("md") {
         flex-direction: column;
         justify-content: flex-end;
      }
      @include respond-to(870) {
         flex-basis: 100%;
      }
   }

   // .bio-hero__img

   &__img {
      img {
         object-position: top;
      }

      @include respond-to("md") {
         aspect-ratio: 480 / 500;
      }
   }

   // .bio-hero__column-right

   &__column-right {
      flex-basis: toRem(320);
      flex-grow: 1;
      @include respond-to(870) {
         flex-basis: 100%;
      }
   }

   // .bio-hero__card

   &__card {
      @include fluid-space(padding, 20, 32);
   }

   // .bio-hero__name

   &__name {
      &:not(:last-child) {
         margin-bottom: toRem(8);
      }
   }

   // .bio-hero__desc

   &__desc {
      &:not(:last-child) {
         @include fluid-space(margin-bottom, 20, 24);
      }
   }

   // .bio-hero__body

   &__body {
      display: grid;
      gap: toRem(12);
      grid-template-columns: repeat(4, 1fr);
      @include respond-to(630) {
         grid-template-columns: repeat(1, 1fr);
      }
      &:not(:last-child) {
         @include fluid-space(margin-bottom, 20, 24);
      }
   }

   &__stat {
      @include fluid-space(padding-block, 8, 12);
      @include fluid-space(padding-inline, 12, 20);
      border: var(--border-sm) solid rgba(255, 255, 255, 0.1);
      background-color: var(--color-surface-glass);
      display: flex;
      justify-content: space-between;
      gap: toRem(8) toRem(12);
      @include respond-from(630) {
         flex-direction: column;
      }
   }

   // .bio-hero__stat-value

   &__stat-value {
      @include fluid-space(font-size, 24, 48);
      line-height: 1;
   }

   // .bio-hero__stat-label

   &__location {
      @include fluid-space(padding, 12, 20);
      border: var(--border-sm) solid rgba(255, 255, 255, 0.1);
      background-color: var(--color-surface-glass);
   }

   .bio-hero__stat--experience {
      @include respond-from(630) {
         grid-column: 1/2;
      }
   }
   .bio-hero__stat--publications {
      @include respond-from(630) {
         grid-column: 2/3;
      }
   }
   .bio-hero__stat--satisfaction {
      @include respond-from(630) {
         grid-column: 3 / 1;
      }
   }
   .bio-hero__location--main {
      @include respond-from(630) {
         grid-column: 3/5;
         grid-row: 1;
      }
   }
   .bio-hero__location--alphand {
      @include respond-from(630) {
         grid-column: 3/5;
         grid-row: 2;
      }
   }

   // .bio-hero__location-label

   &__location-label {
      display: block;
      &:not(:last-child) {
         margin-bottom: toRem(8);
      }
   }

   // .bio-hero__location-item

   &__location-item {
      display: flex;
      column-gap: toRem(12);
      align-items: center;
      font-weight: 500;
   }

   // .bio-hero__location-icon
   &__location-icon {
      flex-shrink: 0;
      width: toRem(40);
      height: toRem(40);
      background: var(--color-primary);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-black);
      padding: toRem(7);
      & .icon {
         width: 100%;
         height: 100%;
      }
   }
   // .bio-hero__footer

   &__footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: toRem(32) toRem(20);
      @include respond-to("md") {
         flex-direction: column-reverse;
         justify-content: center;
      }
   }

   // .bio-hero__socials

   &__socials {
      display: flex;
      gap: toRem(16);
      flex-wrap: wrap;
   }

   // .bio-hero__social

   &__social {
      font-size: 1.5rem;
      color: var(--color-light-blue);
      transition: var(--transition-base);
      cursor: pointer;
      &:hover {
         color: var(--color-blue);
      }
   }
}

.boi-hero {
   // .boi-hero__column-left

   &__column-left {
   }
}

.bio-biography {
   position: relative;

   &__container {
      position: relative;
      z-index: 3;
      display: flex;
      flex-wrap: wrap;
      @include fluid-space(gap, 12, 40);
   }

   &__column-left {
      flex-shrink: 0;
      @include fluid-space(flex-basis, 280, 420);
      @include respond-to("md") {
         flex-basis: 100%;
      }
   }

   &__column-right {
      flex-basis: toRem(280);
      flex-grow: 1;
   }
}

.bio-skills {
   position: relative;
   &__container {
      position: relative;
      z-index: 3;
      display: flex;
      flex-wrap: wrap;
      @include fluid-space(gap, 12, 40);
   }

   &__column-left {
      flex-shrink: 0;
      @include fluid-space(flex-basis, 280, 420);
      @include respond-to("md") {
         flex-basis: 100%;
      }
   }

   &__column-right {
      flex-basis: toRem(280);
      flex-grow: 1;
   }
   &__content {
   }

   &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: toRem(12);
   }

   &__tag {
      @include fluid(font-size, 12, 20);
      padding: toRem(8) toRem(12);
      line-height: 1.3;
      border-radius: toRem(35);
   }
}

//-------

.bio-memberships {
   // .bio-memberships__container

   &__container {
      display: flex;
      flex-wrap: wrap;
      @include fluid-space(gap, 12, 40);
   }

   // .bio-memberships__column-left

   &__column-left {
      flex-shrink: 0;
      @include fluid-space(flex-basis, 280, 420);
      @include respond-to("md") {
         flex-basis: 100%;
      }
   }

   // .bio-memberships__column-right

   &__column-right {
      flex-basis: toRem(280);
      flex-grow: 1;
      @include respond-to("md") {
         width: 100%;
      }
   }

   // .bio-memberships__grid

   &__grid {
      .swiper-wrapper {
         @include respond-from("md") {
            display: grid !important;
            grid-template-columns: repeat(3, 1fr);
            gap: toRem(12);
         }
      }

      .swiper-slide {
         @include respond-from("md") {
            width: auto !important;
         }
      }
   }

   // .bio-memberships__item

   &__item {
      width: 100%;
      aspect-ratio: 311/164;
      display: flex;
      align-items: center;
      justify-content: center;
      & img {
         width: 88%;
         height: 80%;
         object-fit: contain;
         object-position: center;
      }
   }
}

///----------------

.bio-awards {
   // .bio-awards__row

   &__row {
      .swiper-wrapper {
         @include respond-from("md") {
            display: grid !important;
            grid-template-columns: repeat(4, 1fr);
            gap: toRem(12);
            @include respond-to(950) {
               grid-template-columns: repeat(3, 1fr);
            }
         }
      }
      .swiper-slide {
         @include respond-from("md") {
            width: auto !important;
         }
      }
   }

   // .bio-awards__item

   &__item {
      padding: toRem(20);
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: toRem(16);
   }

   // .bio-awards__img

   &__img {
      width: 80%;
      height: toRem(46);
      & img {
         width: 100%;
         height: 100%;
         object-fit: contain;
         object-position: center;
      }
   }

   // .bio-awards__subtitle

   &__subtitle {
      font-size: toRem(16);
      text-align: center;
   }
}

//----------------

.bio-media {
   // .bio-media__container

   &__container {
      display: flex;
      flex-wrap: wrap;
      @include fluid-space(gap, 12, 40);
   }

   // .bio-media__column-left

   &__column-left {
      flex-shrink: 0;
      @include fluid-space(flex-basis, 280, 420);
      @include respond-to("md") {
         flex-basis: 100%;
      }
   }

   // .bio-media__column-right

   &__column-right {
      flex-basis: toRem(280);
      flex-grow: 1;
   }

   // .bio-media__grid

   &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: toRem(12);

      @include respond-to(950) {
         grid-template-columns: repeat(2, 1fr);
      }
      @include respond-to("md") {
         grid-template-columns: repeat(1, 1fr);
      }
   }

   // .bio-media__item

   &__item {
      display: flex;
      flex-direction: column;
      gap: toRem(12);
      @include fluid-space(padding, 16, 20);
   }

   // .bio-media__logo

   &__logo {
      margin-inline: auto;
      width: 80%;
      & img {
         width: 100%;
         height: 100%;
         object-fit: contain;
         object-position: center;
      }
   }

   // .bio-media__text

   &__text {
      flex-grow: 1;
      font-size: toRem(16);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
   }

   // .bio-media__link

   &__link {
      font-size: toRem(16);
      display: inline-flex;
      align-items: center;
      gap: toRem(6);
      text-decoration: underline;
      & .icon {
         font-size: toRem(10);
         transition: translate var(--transition-base);
      }
      &:hover .icon {
         translate: (toRem(2) toRem(-2));
      }
   }

   // .bio-media__more-btn — overrides default show-more-btn styles
}

//----------------

.bio-board {
   // .bio-board__container

   &__container {
      display: flex;
      flex-wrap: wrap;
      @include fluid-space(gap, 12, 40);
   }

   // .bio-board__column-left

   &__column-left {
      flex-shrink: 0;
      @include fluid-space(flex-basis, 280, 420);
      @include respond-to("md") {
         flex-basis: 100%;
      }
   }

   // .bio-board__title

   &__title {
   }

   // .bio-board__column-right

   &__column-right {
      flex-basis: toRem(280);
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: toRem(12);
      @include respond-between(767, 980) {
         grid-template-columns: repeat(1, 1fr);
      }
      @include respond-to(690) {
         grid-template-columns: repeat(1, 1fr);
      }
   }

   // .bio-board__inner

   &__inner {
      overflow: hidden;
      display: flex;
      align-items: center;
      background-color: var(--color-overlay-medium);
   }

   &__img {
      aspect-ratio: 120/160;
      height: 100%;
      @include fluid-space(flex-basis, 100, 120);
   }
   // .bio-board__description

   &__description {
      flex-basis: toRem(80);
      flex-grow: 1;
      @include fluid-space(padding, 16, 20);
   }

   // .bio-board__subtitle

   &__subtitle {
      font-size: toRem(16);
      &:not(:last-child) {
         @include fluid-space(margin-bottom, 10, 16);
      }
   }

   // .bio-board__link

   &__link {
      font-size: toRem(16);
      display: inline-flex;
      align-items: center;
      gap: toRem(6);
      text-decoration: underline;
      & .icon {
         font-size: toRem(10);
         transition: translate var(--transition-base);
      }
      &:hover .icon {
         translate: (toRem(2) toRem(-2));
      }
   }
}

//----------------

.bio-book {
   // .bio-book__container
   &__container {
      position: relative;
      z-index: 1;
   }
   // .bio-book__grid

   &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: toRem(12);

      @include respond-to(1000) {
         grid-template-columns: 1fr;
      }
   }

   // .bio-book__item

   &__item {
      display: flex;
      gap: toRem(16);
      @include fluid-space(padding, 16, 20);

      @include respond-to("md") {
         flex-direction: column;
         align-items: center;
      }
   }

   // .bio-book__cover

   &__img {
      flex-shrink: 0;
      aspect-ratio: 140/200;
      @include fluid-space(width, 120, 140);
      overflow: hidden;
   }

   // .bio-book__body

   &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   // .bio-book__name

   &__name {
      &:not(:last-child) {
         @include fluid-space(margin-bottom, 8, 12);
      }
   }

   // .bio-book__meta

   &__meta {
      font-size: toRem(14);
   }

   // .bio-book__link

   &__link {
      font-size: toRem(16);
      display: inline-flex;
      align-items: center;
      gap: toRem(6);
      text-decoration: underline;
      margin-top: toRem(12);
      & .icon {
         font-size: toRem(10);
         transition: translate var(--transition-base);
      }
      &:hover .icon {
         translate: (toRem(2) toRem(-2));
      }
   }
}

//----------------

.bio-lectures {
   position: relative;
   &__container {
      position: relative;
   }
}

.lecture-slider {
   position: relative;

   .swiper {
      @include respond-to("md") {
         margin-right: toRem(-15);
      }
   }

   &__controls {
      display: flex;
      align-items: center;
      gap: toRem(12);
      position: absolute;
      right: 0;
      top: toRem(-96);
      z-index: 2;

      @include respond-to("md") {
         position: relative;
         top: initial;
         justify-content: center;
         &:not(:first-child) {
            margin-top: toRem(24);
         }
      }
   }

   &__arrow {
      position: static;
      @include fluid-space(width, 38, 48);
      @include fluid-space(height, 38, 48);
      border-radius: 50%;
      border: solid toRem(1) var(--color-white);
      color: var(--color-white);
      background: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &.swiper-button-disabled {
         opacity: 0.3;
         pointer-events: none;
      }
   }
}

.lecture-slider .swiper-slide {
   height: auto;
}

.lecture-slider .topics-card {
   height: 100%;
}
