@use "@styles/utils" as *;

.cl-locations {
   position: relative;

   &__container {
      position: relative;
      z-index: 3;
   }
   &__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include fluid-space(gap, 16, 24);
      @include respond-to(860) {
         grid-template-columns: repeat(1, 1fr);
      }
   }
}

.cl-card {
   display: flex;
   flex-direction: column;
   @include fluid-space(padding, 20, 40);
   transition: border-color var(--transition-base);

   &.is-active {
      border-color: var(--color-blue);
   }
   // .cl-card__top — назва + лого
   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include fluid-space(gap, 16, 40);
   }

   &__logo {
      @include fluid-space(height, 32, 64);
      .icon {
         width: auto;
         height: 100%;
      }
   }

   // .cl-card__address
   &__address {
      display: flex;
      align-items: center;
      column-gap: toRem(10);
      @include fluid-space(padding-block, 14, 20);
      .icon {
         font-size: toRem(22);
         color: var(--color-blue);
      }
   }

   // .cl-card__address-link
   &__address-link {
      background: none;
      border: none;
      padding: 0;
      text-align: left;
      cursor: pointer;
      font-weight: 300;
      color: inherit;
      text-decoration: none;
      transition: color var(--transition-base);

      @include respond-to(560) {
         max-width: toRem(252);
      }

      @media (any-hover: hover) {
         &:hover {
            color: var(--color-blue);
         }
      }
   }

   // .cl-card__divider
   &__divider {
   }

   // .cl-card__hours-block
   &__hours-block {
      display: grid;
      grid-template-columns: max-content 1fr;
      column-gap: toRem(12);
      row-gap: toRem(4);
      &:not(:last-child) {
         @include fluid-space(margin-bottom, 20, 40);
      }
   }

   &__hours-title {
      grid-column: 1 / -1;
      &:not(:last-child) {
         margin-bottom: toRem(8);
      }
   }

   &__hours-day {
   }

   &__hours-time {
      text-align: right;
   }

   // .cl-card__actions
   &__actions {
      margin-top: auto;
      display: flex;
      flex-wrap: wrap;
      @include fluid-space(gap, 16, 24);
   }
}
