@use "@styles/utils" as *;

.video-banner {
   position: relative;
   &::before {
      content: "";
      width: 100%;
      height: 60%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      background: var(--gradient-prices-top-gradient);
      @include respond-to("md") {
         height: 50%;
      }
   }

   &__video {
      width: 100%;
      height: 100vh;
      height: 100svh;
      position: relative;
      z-index: -1;
      @include respond-to(1199) {
         height: 100vh;
         height: 100svh;
      }
      &::after {
         content: "";
         position: absolute;
         inset: 0;
         z-index: 1;
         background: var(--gradient-video-banner-fade-gradient);
         pointer-events: none;
         @include respond-to("md") {
            // background: var(--gradient-video-banner-fade-gradient-mobile);
         }
      }

      @include respond-to("md") {
         height: 100vh;
         height: 100svh;
         // padding-bottom: toRem(50);
      }
   }

   &__music {
      position: absolute;
      bottom: toRem(30);
      @include fluid-space(right, 15, 80);
      z-index: 10;

      @include respond-to("md") {
         bottom: toRem(82);
      }
   }
}

.main-about {
   // .main-about__container

   &__container {
      display: grid;
      @include respond-from(940) {
         grid-template-columns: repeat(2, 1fr);
         @include fluid-space(column-gap, 40, 100);
      }
      row-gap: toRem(32);
   }

   // .main-about__column-left

   &__column-left {
      overflow: hidden;
   }

   // .main-about__column-right

   &__column-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__img {
      width: 100%;
      aspect-ratio: 530/676;
      & img {
         object-position: top;
         height: 100%;
      }
   }

   // .main-about__icon

   &__icon {
      @include fluid(font-size, 36, 50);
      color: var(--color-black);
      opacity: 0.1;
      &:not(:last-child) {
         margin-bottom: toRem(12);
      }
   }

   // .main-about__text

   &__text {
      @include fluid(font-size, 20, 30);
      &:not(:last-child) {
         margin-bottom: toRem(12);
      }
   }

   // .main-about__label

   &__label {
   }
   &__text-inner {
      &:not(:last-child) {
         @include fluid-space(margin-bottom, 20, 32);
      }
   }

   // .main-about__signature

   &__signature {
      width: 100%;
      & img {
         width: 100%;
         height: 100%;
      }
      @include fluid(max-width, 150, 248);
      &:not(:last-child) {
         @include fluid-space(margin-bottom, 32, 60);
      }
      @include respond-to("md") {
         margin-inline: auto;
      }
   }

   // .main-about__btns

   &__btns {
      display: flex;
      flex-wrap: wrap;
      gap: toRem(16) toRem(30);
   }
}
