.product__footer {
   margin-top: 32px;
   display: flex;
   justify-content: center;
}

.product__collection-btn {
   padding: 12px 32px;
   font-size: 15px;
   font-weight: 600;
}

.pagination__grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 40px 20px;
   & .collection__item {
      aspect-ratio: 100/60;
   }
}
