@use "@styles/utils" as *;

.contact {
   padding: toRem(80) 0;

   &__container {
      max-width: toRem(560);
      margin: 0 auto;
      padding: 0 toRem(20);
   }

   &__title {
      margin-bottom: toRem(40);
      text-align: center;
   }

}
