@use "@styles/utils" as *;

.preloader {
   position: fixed;
   inset: 0;
   z-index: 1000;
   background-color: var(--color-surface);
   display: flex;
   align-items: center;
   justify-content: center;

   &__bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 0;

      &--desktop {
         @include respond-to(1199) {
            display: none;
         }
      }

      &--mobile {
         @include respond-from(1200) {
            display: none;
         }
      }
   }

   &__lottie {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      svg {
         width: 100% !important;
         height: 100% !important;
      }
   }
}
