@use "@styles/utils" as *;

.posts-section {
   &__inner {
      &:not(:last-child) {
         @include fluid-space(margin-bottom, 24, 40);
      }
   }

   &__label {
      color: var(--color-gray-blue);
      font-weight: 600;
      &:not(:last-child) {
         margin-bottom: toRem(8);
      }
   }

   &__title {
      @include fluid(font-size, 22, 32);
      font-weight: 600;
   }

   &__grid {
      &.cards-slider .swiper {
         @include respond-to("md") {
            margin-right: 0;
         }
      }

      .cards-slider__controls {
         @include respond-to("md") {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            aspect-ratio: 343 / 424;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: toRem(12);
            pointer-events: none;
            margin-top: 0;

            .slider__arrow {
               pointer-events: auto;
               background-color: rgba(255, 255, 255, 0.4);
               border: none;
               color: var(--color-black);
               backdrop-filter: blur(4px);
               font-size: toRem(16);
            }
         }
      }

      .swiper-wrapper {
         @include respond-from("md") {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            @include fluid-space(gap, 16, 24);
         }
      }

      .swiper-slide {
         height: auto;
      }
   }

   &__footer {
      display: flex;
      justify-content: center;
      &:not(:first-child) {
         @include fluid-space(margin-top, 24, 40);
      }
   }
}
