@use "@styles/utils" as *;

.section-header {
   display: flex;
   position: relative;
   z-index: 1;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   @include fluid-space(gap, 12, 40);

   // .section-header__left

   &__left {
      flex-shrink: 0;
      @include fluid-space(flex-basis, 280, 420);

      @include respond-to("md") {
         flex-basis: 100%;
      }
   }

   // .section-header__right

   &__right {
      flex-basis: toRem(280);
      flex-grow: 0.5;
      @include respond-to(1199) {
         flex-grow: 1;
      }
   }
}
