// @import "_reset";

// І для елементів з анімацією (щоб не спотворювало все)
[transition-animate] {
   transform-style: preserve-3d;
   backface-visibility: hidden;
}
// Блокування скролу при відкритті попапу / меню
.lock {
   overflow: hidden;
}
